.filter-wrapper {
  width: 563px;
  height: 163px;
  background: #fff;
  padding: 20px 16px;
  border-radius: 9px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .16);
  position: absolute;
  top: 100%;
  margin-top: 5px;
  z-index: 999;
  left: 0
  }
  
  .category-wrapper .category-header,
  .coins-wrapper .coins-header,
  .filter-wrapper .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px
  }
  
  .filter-wrapper .filter-body {
  display: flex;
  justify-content: space-between;
  align-items: center
  }
  
  .filter-wrapper .filter-body p {
  font-size: 15px;
  color: #93999f;
  font-family: SF Pro Text;
  margin-bottom: 0;
  position: relative
  }
  
  .filter-wrapper .filter-clear {
  font-size: 14px;
  color: #1967d2;
  font-family: SF Pro Display
  }
  
  .category-wrapper .category-title,
  .coins-wrapper .coins-title,
  .filter-wrapper .filter-title {
  font-size: 15px;
  font-weight: 700;
  color: #3c4043;
  font-family: SF Pro Display;
  margin-bottom: 10px;
  position: relative
  }
  
  .filter-wrapper .filter-title .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer
  }
  
  .filter-wrapper p {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 10px
  }
  
  .filter-wrapper p span {
  font-family: SF Pro Display;
  font-weight: 500;
  color: #4285f4
  }
  
  .filter-wrapper .ant-slider-track,
  .filter-wrapper .ant-slider:hover .ant-slider-track {
  background-color: #4285f4
  }
  
  .filter-wrapper .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #4285f4
  }
  
  .filter-wrapper .ant-slider-mark-text {
  color: #93999f;
  font-size: 13px;
  font-weight: 400;
  font-family: SF Pro Text
  }
  
  .filter-wrapper .ant-slider-mark-text:last-child {
  padding-right: 22px;
  white-space: nowrap
  }
  
  .filter-wrapper .ant-slider-dot.ant-slider-dot-active {
  background-color: #4285f4;
  border: 2px solid #4285f4
  }
  
  .filter-wrapper .ant-slider-dot {
  border: 2px solid #dadce0;
  background-color: #dadce0;
  width: 6px;
  height: 6px
  }
  
  .filter-wrapper .ant-slider-handle {
  border: 2px solid #4285f4;
  background-color: #4285f4;
  margin-top: -10px;
  height: 20px;
  width: 20px
  }
  
  .filter-wrapper .ant-slider-rail {
  height: 2px;
  background-color: #dadce0
  }
  
  .filter-wrapper .ant-slider-track {
  height: 2px
  }
  
  .filter-wrapper .ant-slider-mark {
  top: 18px
  }
  
  .filter-wrapper .ant-slider {
  margin: 18px 6px 10px
  }
  
  .filter-wrapper .clear-filter {
  position: absolute;
  right: 10px;
  color: #1967d2;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer
  }
  
  .filter-wrapper .clear-filter:hover {
  background: #e8f0fe
  }
  
  .filter-wrapper .clear-filter:active,
  .filter-wrapper .clear-filter:focus {
  background: #d2e3fc
  }
.root {
  width: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  color: #545252;
}
.label {
  margin-bottom: 10px;
}
.valueText {
  color: #000066;
  font-weight: 600;
  margin: 5px 5px 0;
}
.code {
  margin: 10px 0;
  text-align: left;
}
.info {
  font-style: italic;
  color: #3131d4;
  font-size: 15px;
  margin: 5px 5px 0;
}
.sliderWrapper {
  width: 75%;
}
.slider {
  height: 40px !important;
}
.sliderTrack {
  height: 5px !important;
  border: 1px solid #31da31 !important;
  background-color: white !important;
  top: 12px !important;
}
.sliderHighlightedTrack {
  height: 5px !important;
  border: 1px solid #31da31 !important;
  background-color: #dafbda !important;
  top: 12px !important;
}
.sliderHandle {
  height: 30px !important;
  width: 30px !important;
  border: 1px solid #2fa92f !important;
  background-color: #31da31 !important;
}
.sliderHandle:hover {
  background-color: white !important;
  border: 2px solid #2fa92f !important;
  box-shadow: 0px 0px 5px 0px #31da31 !important;
}
.sliderHandle:active {
  background-color: white !important;
  border: 2px solid #2fa92f !important;
  box-shadow: inset 0px 0px 5px 0px #31da31 !important;
}
.sliderHandle:focus {
  border: 2px solid #2fa92f !important;
}
/*=============================================
        Horizontal Filter
===============================================*/
.horizontal-filter-dropdown{
  display: block;
}
.horizontal-filter-dropdown .btn-secondary{
  background-color: #f8f9fa !important;
  border-color: #dadce0 !important;
  color: #3c4043 !important;
  background: #fff;
  transition: all 0s ease!important;
  -webkit-transition: all 0s ease!important;
  border-radius: 25px !important;
  line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.015);
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px !important;
    border-radius: 4px;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    margin-left: 12px;
    padding: 0px 15px ;
}
.horizontal-filter-dropdown .btn-secondary:hover , .horizontal-filter-dropdown .btn-secondary:focus{
  background-color: #f8f9fa;
    border-color: #dadce0;
    color: #3c4043;
}
.horizontal-filter-dropdown .dropdown-menu.show{
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 20px rgba(0,0,0,.16);
    margin-top: 5px;
    min-width: 240px;
}
.filter-title{
  font-weight: 600;
    color: #212121;
    font-size: 15px;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

.price-filter{
  min-width: 330px;
}
.horizontal-filter-dropdown .dropdown-item.active, .horizontal-filter-dropdown .dropdown-item:active{
  background-color: transparent;
}
.sticky-filter{
  padding: 40px 0px 0px;
}
.sticky-filter.is-sticky {
  width: 100%;
  left: 0;
  z-index: 999;
  position: fixed;
  top: 82px;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0px;
}
.off-canvas-filter{
  display: none;
}
.btn-filter{
  display: none;
}
/* Responsive */
@media screen and (max-width:991px) {
  .sticky-filter.is-sticky {
    top: 61px;
  }
}
@media screen and (max-width:767px) {
  .sticky-filter.is-sticky {
    top: 61px;
  }
  .filter-title{
    display: none;
  }
  .btn-filter{
    font-weight: 600;
    color: #212121;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: transparent;
    display: block;
  }
  .off-canvas-filter{
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    padding: 0 25px;
    width: 330px;
    height: 100%;
    z-index: 1021;
    overflow: auto;
    overflow-x: hidden;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .off-canvas-filter-show{
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    padding: 0 25px;
    width: 300px;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    overflow-x: hidden;    
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  .horizontal-filter-dropdown {
    display: none;
}
  .filter-title{
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0.1);
  }
  .off-canvas-overlay{
    background: rgba(0,0,0,.8);
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1021;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.off-canvas-filter-show .sidebar-widget-heading {
  padding: 15px 25px 15px 0px;
  margin-bottom: 30px;
  margin-top: 20px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.close-sidebar-widget{
  color: #323232;
}
.sidebar-widget-heading{
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #323232;
}
.sidebar-widget-heading:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidebar-widget-heading:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidebar-widget-heading:before , .sidebar-widget-heading:after {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
  margin-right: -12px;
  display: inline-block;
  background-color: #323232;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
}